[DATABASE]
driver      = 'pdo_mysql'
host        = 'localhost'
port        = '3306'
user        = 'root'
password    = 'root'
dbname      = 'edi'

[EDI_DIRECTORIES]
edi.pending    =   "var/mine/pending"
edi.proccessed =   "var/mine/proccessed"

[EDI_DIRECTORIES_TESTS]
test.edi.pending    =   "var/mine/pending"
test.edi.proccessed =   "var/mine/proccessed"